install/XtalPiMS/IspybRest2/xml/ehtpx/BeamlineShipping.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by SomeOne (SomeWhere) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.pims-lims.org/services/ispyb"    xmlns:tns="http://www.pims-lims.org/services/ispyb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="shipping" type="tns:Shipping"/>
	<xs:complexType name="Shipping">
		<xs:sequence>
			<xs:element name="shippingId" type="xs:int" minOccurs="0"/>
			<xs:element name="deliveryAgentAgentCode" type="xs:string" minOccurs="0"/>
			<xs:element name="deliveryAgentAgentName" type="xs:string" minOccurs="0"/>
			<xs:element name="deliveryAgentDeliveryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="deliveryAgentFlightCode" type="xs:string" minOccurs="0"/>
			<xs:element name="deliveryAgentShippingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="shippingName" type="xs:string" minOccurs="0"/>
			<xs:element name="shippingStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="timeStamp" type="xs:double" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShippingList">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:shipping" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="shippingList" type="tns:ShippingList"/>
</xs:schema>
