install/XtalPiMS/IspybRest2/xml/ehtpx/BeamlineProposal.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by SomeOne (SomeWhere) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.pims-lims.org/services/ispyb"    xmlns:tns="http://www.pims-lims.org/services/ispyb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="proposal" type="tns:Proposal"/>
	<xs:complexType name="Proposal">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="number" type="xs:int"/>
			<xs:element name="title" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
