install/XtalPiMS/IspybRest2/xml/ehtpx/BeamlineDiffractionImage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by SomeOne (SomeWhere) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.pims-lims.org/services/ispyb"    xmlns:tns="http://www.pims-lims.org/services/ispyb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="image" type="tns:Image"/>
	<xs:complexType name="Image">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" minOccurs="0"/>
			<xs:element name="fileLocation" type="xs:string" minOccurs="0"/>
			<xs:element name="measuredIntensity" type="xs:float" minOccurs="0"/>
			<xs:element name="temperature" type="xs:float" minOccurs="0"/>
			<xs:element name="cumulativeIntensity" type="xs:float" minOccurs="0"/>
			<xs:element name="synchrotronCurrent" type="xs:float" minOccurs="0"/>
			<xs:element name="comments" type="xs:string" minOccurs="0"/>
			<xs:element name="mxCubeMessage" type="xs:string" minOccurs="0"/>
			<xs:element name="jpegFileFullPath" type="xs:string" minOccurs="0"/>
			<xs:element name="jpegThumbnailFileFullPath" type="xs:string" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="fileSize" type="xs:int"/>
				<xs:element name="MD5checksum" type="xs:string"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
