current/XtalPiMS/IspybRest2/xml/ehtpx/BeamlineSession.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by SomeOne (SomeWhere) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.pims-lims.org/services/ispyb"    xmlns:tns="http://www.pims-lims.org/services/ispyb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="BeamlineSetup.xsd"/>
	<xs:element name="session" type="tns:Session"/>
	<xs:element name="sessionsList" type="tns:SessionsList"/>
	<xs:complexType name="SessionsList">
		<xs:sequence>
			<xs:element ref="tns:session"  minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Session">
		<xs:sequence>
			<xs:element name="sessionId" type="xs:int" minOccurs="0"/>
			<xs:element name="site" type="xs:string" minOccurs="0"/>
			<xs:element name="sourceType" type="xs:string" minOccurs="0"/>
			<xs:element name="beamLineName" type="xs:string" minOccurs="0"/>
			<xs:element name="beamLineOperator" type="xs:string" minOccurs="0"/>
			<xs:element name="comments" type="xs:string" minOccurs="0"/>
			<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="nbShifts" type="xs:int" minOccurs="0"/>
			<xs:element name="scheduled" type="xs:boolean" minOccurs="0"/>
			<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element ref="tns:beamLineSetup" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
