current/XtalPiMS/IspybRest2/xml/ehtpx/BeamlineDataCollection.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by SomeOne (SomeWhere) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.pims-lims.org/services/ispyb"    xmlns:tns="http://www.pims-lims.org/services/ispyb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="dataCollection" type="tns:DataCollection"/>
	<xs:complexType name="DataCollection">
		<xs:sequence>
			<xs:element name="experimentType" type="xs:string" minOccurs="0"/>
			<xs:element name="dataCollectionNumber" type="xs:int" minOccurs="0"/>
			<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="runStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="rotationAxis" type="xs:string" minOccurs="0"/>
			<xs:element name="phiStart" type="xs:float" minOccurs="0"/>
			<xs:element name="kappaStart" type="xs:float" minOccurs="0"/>
			<xs:element name="omegaStart" type="xs:float" minOccurs="0"/>
			<xs:element name="axisStart" type="xs:float" minOccurs="0"/>
			<xs:element name="axisEnd" type="xs:float" minOccurs="0"/>
			<xs:element name="axisRange" type="xs:float" minOccurs="0"/>
			<xs:element name="overlap" type="xs:float" minOccurs="0"/>
			<xs:element name="numberOfImages" type="xs:double" minOccurs="0"/>
			<xs:element name="startImageNumber" type="xs:int" minOccurs="0"/>
			<xs:element name="numberOfPasses" type="xs:double" minOccurs="0"/>
			<xs:element name="exposureTime" type="xs:float" minOccurs="0"/>
			<xs:element name="imageDirectory" type="xs:string" minOccurs="0"/>
			<xs:element name="imagePrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="imageSuffix" type="xs:string" minOccurs="0"/>
			<xs:element name="fileTemplate" type="xs:string" minOccurs="0"/>
			<xs:element name="wavelength" type="xs:float" minOccurs="0"/>
			<xs:element name="resolution" type="xs:float" minOccurs="0"/>
			<xs:element name="detectorDistance" type="xs:float" minOccurs="0"/>
			<xs:element name="detector2Theta" type="xs:float" minOccurs="0"/>
			<xs:element name="xBeam" type="xs:float" minOccurs="0"/>
			<xs:element name="yBeam" type="xs:float" minOccurs="0"/>
			<xs:element name="crystalClass" type="xs:string" minOccurs="0"/>
			<xs:element name="beamSizeVertical" type="xs:float" minOccurs="0"/>
			<xs:element name="beamSizeHorizontal" type="xs:float" minOccurs="0"/>
			<xs:element name="beamSizeAtSampleX" type="xs:float" minOccurs="0"/>
			<xs:element name="beamSizeAtSampleY" type="xs:float" minOccurs="0"/>
			<xs:element name="transmission" type="xs:float" minOccurs="0"/>
			<xs:element name="synchrotronMode" type="xs:string" minOccurs="0"/>
			<xs:element name="centeringMethod" type="xs:string" minOccurs="0"/>
			<xs:element name="collectionTemperature" type="xs:float" minOccurs="0"/>
			<xs:element name="comments" type="xs:string" minOccurs="0"/>
			<xs:element name="machineMessage" type="xs:string" minOccurs="0"/>
			<xs:element name="printableForReport" type="xs:boolean" minOccurs="0"/>
			<xs:element name="xtalSnapshotFullPath1" type="xs:string" minOccurs="0"/>
			<xs:element name="xtalSnapshotFullPath2" type="xs:string" minOccurs="0"/>
			<xs:element name="xtalSnapshotFullPath3" type="xs:string" minOccurs="0"/>
			<xs:element name="xtalSnapshotFullPath4" type="xs:string" minOccurs="0"/>
			<xs:element ref="tns:anomalousScattering"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnomalousScattering">
		<xs:sequence>
			<xs:element name="element" type="xs:string"/>
			<xs:element name="fPrime" type="xs:float" minOccurs="0"/>
			<xs:element name="fDoublePrime" type="xs:float" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="anomalousScattering" type="tns:AnomalousScattering"/>
	<xs:complexType name="XFEFluorescenceSpectrum">
		<xs:sequence>
			<xs:element name="jpegScanFileFullPath" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="xFEFluorescenceSpectrum" type="tns:XFEFluorescenceSpectrum"/>
	<xs:complexType name="EnergyScan">
		<xs:sequence>
			<xs:element name="fluorescenceDetector" type="xs:string" minOccurs="0"/>
			<xs:element name="jpegScanFileFullPath" type="xs:string" minOccurs="0"/>
			<xs:element name="jpegChoochFileFullPath" type="xs:string" minOccurs="0"/>
			<xs:element name="element" type="xs:string" minOccurs="0"/>
			<xs:element name="startEnergy" type="xs:float" minOccurs="0"/>
			<xs:element name="endEnergy" type="xs:float" minOccurs="0"/>
			<xs:element name="transmissionFactor" type="xs:float" minOccurs="0"/>
			<xs:element name="exposureTime" type="xs:float" minOccurs="0"/>
			<xs:element name="synchrotronCurrent" type="xs:float" minOccurs="0"/>
			<xs:element name="temperature" type="xs:float" minOccurs="0"/>
			<xs:element name="peakEnergy" type="xs:float" minOccurs="0"/>
			<xs:element name="peakFPrime" type="xs:float" minOccurs="0"/>
			<xs:element name="peakfDoublePrime" type="xs:float" minOccurs="0"/>
			<xs:element name="inflectionEnergy" type="xs:float" minOccurs="0"/>
			<xs:element name="inflectionFPrime" type="xs:float" minOccurs="0"/>
			<xs:element name="inflectionFDoublePrime" type="xs:float" minOccurs="0"/>
			<xs:element name="xrayDose" type="xs:float" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="energyScan" type="tns:EnergyScan"/>
</xs:schema>
