current/XtalPiMS/IspybRest2/xml/ehtpx/TrayRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://www.pims-lims.org/services/ispyb"    xmlns:tns="http://www.pims-lims.org/services/ispyb" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="trayRequest" type="tns:TrayRequest"/>
    
    <xs:complexType name="TrayRequest">
        <xs:sequence>
            <xs:element name="trayId" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="allWells" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>     

</xs:schema>
